# IDE folder
.idea/
.vscode/

# vi backups
*~

# build results
build/
_build/
*.log
dist/
docs/

# venv / Byte-compiled / optimized / DLL files
venv/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# python
.coverage
.pytest_cache

# local dependency to xmltodict
src/xmltodict

examples/data
tests/tmp
.env
