jinja2
uritemplate
validators
requests
rfc6266
typeguard
python-dateutil
#xmltodict -- replaced for now by source code checkout:
-e git+http://git@github.com/marc-portier/xmltodict@bug/282#egg=xmltodict
